h2{
    text-align: center;
    font-size: 60px;
    font-family: 'PT Sans', sans-serif;
}

body{
    background-color: #171717;
}
.text-center{
    font-family: 'Barlow', sans-serif;
    color:#BF6900;
    font-size: 15px;
}

